.Proj1 {
    margin-top: 175px;
}
.Proj2 {
    margin-top: 50px;
}
.Proj3 {
    margin-top: 50px;
}
.Proj4 {
    margin-top: 50px;
}
.Proj5 {
    margin-top: 50px;
}
.Proj6 {
    margin-top: 50px;
}

.imgTitle {
    background-color: rgb(233, 233, 233);
    margin-bottom: 0;
}
.image {
    background-color: rgb(71, 105, 255);
    margin-bottom: 0;
}
.techUsed {
    background-color: rgb(233, 233, 233);
}
h5 {
    color: black;
}

.desert {
    
    height: 334.44px;
    width: 1140px;    
}

.contact {
    margin-top: 50px;
    margin-bottom: 25px;
 }